@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .product-image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px; /* Chiều cao cố định cho toàn bộ vùng chứa */
    }

    .single-products {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%; /* Chiều cao chiếm toàn bộ vùng chứa */
    }

    .productinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

        .productinfo img {
            width: 100%;
            height: auto;
            max-height: 200px; /* Chiều cao tối đa cho hình ảnh */
            object-fit: contain; /* Đảm bảo hình ảnh không bị cắt và giữ tỷ lệ */
        }

        .productinfo h2,
        .productinfo p {
            margin: 5px 0; /* Giảm khoảng cách giữa các phần tử */
            white-space: nowrap; /* Ngăn ngắt dòng trong các phần tử văn bản */
            overflow: hidden; /* Ẩn nội dung tràn */
            text-overflow: ellipsis; /* Thêm dấu ba chấm khi văn bản bị cắt */
        }
</style>

<div class="row">
    <div class="col-sm-3">
        <partial name="_SidebarPartial" />
    </div>

    <div class="col-sm-9 padding-right">
        <div class="product-details">
            <!-- Chi tiết sản phẩm -->
            <div class="col-sm-5">
                <div class="view-product">
                    <img src="~/media/products/@Model.Image" alt="" width="100px" height="200px" />
                </div>
            </div>
            <div class="col-sm-7">
                <div class="product-information">
                    <!-- Thông tin sản phẩm -->
                    <h2>@Model.Name</h2>
                    <span>
                        <span>@Model.Price.ToString("#,##0 VNĐ")</span>
                        <label>Số lượng: </label>
                        <input type="number" id="quantityInput" value="1" min="1" step="1" oninput="validateQuantity(this)" />
                        @if (@Model.Quantity > 0)
                        {
                        <button class="btn btn-default add-to-cart" data-product_id="@Model.Id">
                            <i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-default">
                                <i class="fa fa-shopping-cart"></i>Hết hàng
                            </button>
                        }
                    </span>
                    <p><b>Tình trạng:</b> Còn hàng</p>
                    <p><b>Điều kiện:</b> Mới</p>
                    <p><b>Thương hiệu:</b> @Model.Brand.Name</p>
                    <p><b>Danh mục:</b> @Model.Category.Name</p>
                </div><!--/product-information-->
            </div>
        </div><!--/product-details-->

        <div class="category-tab shop-details-tab">
            <!-- Tab danh mục -->
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#details" data-toggle="tab">Chi tiết</a></li>
                    <li><a href="#reviews" data-toggle="tab">Đánh giá (5)</a></li>
                </ul>
            </div>

            <div class="tab-content">
                <!-- Tab Chi tiết -->
                <div class="tab-pane fade active in" id="details">
                    @Html.Raw(Model.Description)
                </div>

                <!-- Tab Đánh giá -->
                <div class="tab-pane fade" id="reviews">
                    <div class="col-sm-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p><b>Viết đánh giá của bạn</b></p>

                        <form action="#">
                            <span>
                                <input type="text" placeholder="Tên của bạn" />
                                <input type="email" placeholder="Địa chỉ email" />
                            </span>
                            <textarea name=""></textarea>
                            <b>Đánh giá: </b> <img src="images/product-details/rating.png" alt="" />
                            <button type="button" class="btn btn-default pull-right">
                                Gửi
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="recommended_items">
            <!-- Sản phẩm liên quan -->
            <h2 class="title text-center">Sản phẩm liên quan</h2>
            <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @for (int i = 0; i < ViewBag.RelatedProducts.Count; i += 3)
                    {
                        <div class="item @(i == 0 ? "active" : "")">
                            <div class="row">
                                @for (int j = i; j < i + 3 && j < ViewBag.RelatedProducts.Count; j++)
                                {
                                    var relatedProduct = ViewBag.RelatedProducts[j];
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <a asp-action="Details" asp-controller="Product" asp-route-Id="@relatedProduct.Id">
                                                        <img src="~/media/products/@relatedProduct.Image" alt="@relatedProduct.Name" class="img-fluid" style="width:100%; height:200px; object-fit:cover;" />
                                                        <h2 style="height: 40px;">@relatedProduct.Price.ToString("#,##0 VNĐ")</h2>
                                                        <p style="height: 20px;">@relatedProduct.Name</p>
                                                        <p style="height: 20px;">Danh mục: @relatedProduct.Category.Name</p>
                                                        <p style="height: 20px;">Thương hiệu: @relatedProduct.Brand.Name</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
                <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>

        </div>
    </div><!--/category-tab-->
</div>
@section Scripts {

    <script>
        function validateQuantity(input) {
            // Xóa các ký tự không phải số
            input.value = input.value.replace(/[^0-9]/g, '');

            // Đảm bảo giá trị không nhỏ hơn 1
            if (parseInt(input.value) < 1) {
                input.value = 1;
            }
        }

        $(document).ready(function () {
            $('.add-to-cart').click(function () {
                var productId = $(this).data("product_id");
                var quantity = $('#quantityInput').val(); // Lấy giá trị số lượng từ input

                // Kiểm tra giá trị số lượng hợp lệ
                if (quantity < 1) {
                    Swal.fire("Số lượng phải lớn hơn 0");
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Add", "Cart")",
                    data: { Id: productId, Quantity: quantity },
                    success: function (result) {
                        if (result) {
                            Swal.fire("Thêm vào giỏ hàng thành công");
                        } else {
                            Swal.fire("Có lỗi xảy ra, vui lòng thử lại sau.");
                        }
                    },
                    error: function () {
                        Swal.fire("Có lỗi xảy ra, vui lòng thử lại sau.");
                    }
                });
            });
        });
    </script>


}